body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;   /* центрует блоки по вертикали */
    align-items: center;       /* центрует по горизонтали */
    text-align: center;

    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

/* Фон-анимация */
@keyframes Gradient {
    0%   { background-position: 0% 50% }
    50%  { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

/* фото — идеальный круг */
.backdrop {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;

    box-shadow: 0px 2px 10px #111;
}

.linktree {
    width: 100%;
    height: 100%;
    background-image: url("/ghfhgf.jpg"); /* если лежит в docs */
    background-size: cover;
    background-position: center;
}

/* кнопки по центру */
.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
}

/* анимация кнопки */
.shake {
    animation: shake-animation 4.72s ease infinite;
}

@keyframes shake-animation {
    0% { transform:translate(0,0) }
    2% { transform:translate(5px,0) }
    4% { transform:translate(0,0) }
    6% { transform:translate(5px,0) }
    8% { transform:translate(0,0) }
    100% { transform:translate(0,0) }
}

